
@{
    ViewData["Title"] = "Feedback";
}
@model Candidate

<h1>Feedback</h1>
<div>
    <h3 class="display-4"> Congratulations @Model.FullName </h3>
    <p class="lead"> Your application has been approved. </p>
    <hr />

    <blockquote class="blockquote">
        You have enrolled to @Model.SelectedCourse.
    </blockquote>

    <p class="text-muted"> You applied at @Model.CreatedDate . </p>

    <div class="btn-group">
        <a class="btn btn-outline-success" asp-action="Index"> Applications </a>
        <a class="btn btn-success" asp-action="Index" asp-controller="Home"> HOME </a>
    </div>
</div>
