@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Academia</h1>
    
    <a class="btn btn-primary" asp-controller="course" asp-action="apply"> APPLY </a>
</div>
