
@{
    ViewData["Title"] = "Default";
}

@model IEnumerable<Category>


<div class="my-4">
    <h6>
        <i class="fa-solid fa-list"> Categories</i>
    </h6>
    <ul class="list-group">
        @foreach(var category in Model)
        {
            <li class="list-group-item" style="border: none;">
                <a asp asp-action="Index" asp-route-categoryId="@category.CategoryId" style="text-decoration: none; color: inherit;"> @category.Name </a>
            </li>
        }
    </ul>
</div>

