
@{
    ViewData["Title"] = "Default";
}

@model IEnumerable<Category>


<div class="my-4">
    <ul class="list-group">
        @foreach(var category in Model)
        {
            <li class="list-group-item">
                <a asp asp-action="Index" asp-route-categoryId = "@category.CategoryId"> @category.Name </a>
            </li>
        }
    </ul>
</div>

