@{
    ViewData["Title"] = "CreateCategory";
}
@model Category
<div class="text-center">
    <div class="display-6"></div>
</div>

<form method="post" asp-action="CreateCategory">
    <div class="text-danger" asp-validation-summary="All"></div>

    <div class="form-group my-3">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" placeholder="Please fill it." />
    </div>
    
    <div class="form-group my-3">
        <div>
            <button class="btn btn-primary" type="submit">
                <i class="fa fa-save"></i> Save
            </button>
            <a asp-action="Index" class="btn btn-outline-primary">
                <i class="fa fa-list"> </i>
                Categories
            </a>
        </div>
    </div>
</form>