
@{
    ViewData["Title"] = "Index";
}
@model IEnumerable<Category>

<h1>Category Operations</h1>

<div class="d-flex justify-content-center my-3">
    <a class="btn btn-outline-success" asp-action="CreateCategory">
        <span>&#43;</span> CREATE
    </a>
</div>

<div class="row">
    @foreach (var category in Model)
    {
        <div class="col-md-4 mb-4">
            <div class="card shadow-sm h-100">
                <div class="card-body">
                    <h5 class="card-title fw-bold">@category.Name | 
                        <a data-toggle="tooltip"
                           data-placement="top"
                           title="Delete"
                           class="btn btn-danger" asp-action="DeleteCategory" asp-route-id="@category.CategoryId">
                            <i class="fa fa-trash fa-xs"></i>
                        </a>
                    </h5>
                    
                </div>
            </div>
        </div>
    }
</div>

