@model RegisterDTO

<div class="text-center my-1">
    <h6 class="display-6">
        <p style="color: gray; font-weight: bold;">
            <i class="fa-solid fa-user plus text-white bg-secondary p-3 rounded-3"></i> REGISTER
        </p>
    </h6>
</div>

<div class="row">
    <div class="col-md-4"> </div>

    <div class="col-md-4">
        <div>
            <div class="text-danger" asp-validation-summary="All"></div>
        </div>
        <form method="post" asp-action="Register">
            <div class="form-group my-1">
                <label asp-for="UserName"> Name </label>
                <input asp-for="UserName" class="form-control" />
            </div>
            <div class="form-group my-1">
                <label asp-for="Email"> Email </label>
                <input asp-for="Email" class="form-control" />
            </div>
            <br />
            <div class="form-group my-1">
                <label asp-for="Password"> Password </label>
                <input asp-for="Password" class="form-control" />
            </div>
            <div class="form-group my-1">
                <label asp-for="ConfirmPassword"> Re-enter Password </label>
                <input asp-for="ConfirmPassword" class="form-control" />
            </div>

            <div class="form-group my-2 d-flex justify-content-center">
                <button type="submit" class="btn btn-primary">
                    <i class="fa-solid fa-user plus"></i> Register
                </button>
            </div>
        </form>
    </div>

</div>


